# Phase 1: Exploratory data analysis and data pre-processing

### Taryn Chung (301239706), ZeYu Zhu (301341176), Kearro Chow (301279961)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
color = sns.color_palette()

In [3]:
train_df = pd.read_json("train.json")
train_df.head()

    bathrooms  bedrooms  ...           street_address interest_level
4         1.0         1  ...      145 Borinquen Place         medium
6         1.0         2  ...            230 East 44th            low
9         1.0         2  ...     405 East 56th Street         medium
10        1.5         3  ...  792 Metropolitan Avenue         medium
15        1.0         0  ...     340 East 34th Street            low

[5 rows x 15 columns]

## Visualization of target variable (interest level)

In [ ]:
# int_level = train_df['interest_level'].value_counts()

# plt.figure(figsize=(6,6))
# sns.barplot(int_level.index, int_level.values, alpha=1, color=color[0])
# plt.ylabel('Number of Occurrences', fontsize=14, fontweight='bold')
# plt.xlabel('Interest level', fontsize=14, fontweight='bold')
# plt.xticks(fontsize=10, fontweight='bold')
# plt.yticks(fontsize=10, fontweight='bold')
# plt.show()

In [ ]:
# plt.pie(int_level.values,(0,0,0),int_level.index, autopct='%1.0f%%', 
#        shadow=False, startangle=0,   
#        pctdistance=1.2,labeldistance=1.4)
# plt.axis('equal')
# plt.show()

## Hour-wise listing trend

In [ ]:
# train_df["created"] = pd.to_datetime(train_df["created"])
# train_df["hour_created"] = train_df["created"].dt.hour
# hour = train_df['hour_created'].value_counts()
# plt.figure(figsize=(12,6))
# sns.barplot(hour.index, hour.values, alpha=0.8, color=color[1])
# plt.xlabel('hours', fontsize=12, fontweight='bold')
# plt.ylabel('# created', fontsize=12, fontweight='bold')
# plt.xticks(rotation='vertical', fontweight='bold')
# plt.yticks(fontweight='bold')
# plt.show()

In [ ]:
# top5 = hour[:5]
# print("Busiest 5 Hours:\n",top5)

## Visualizing features

In [ ]:
# plt.figure(figsize=(8,6))
# sns.distplot(train_df.price.values, bins=50, kde=False)
# plt.xlabel('price', fontsize=12, fontweight='bold')
# plt.xticks(fontweight='bold')
# plt.yticks(fontweight='bold')
# plt.show()

In [ ]:
# plt.figure(figsize=(8,6))
# sns.distplot(train_df.bathrooms.values, kde=False)
# plt.xlabel('bathroom', fontsize=12, fontweight='bold')
# plt.xticks(fontweight='bold')
# plt.yticks(fontweight='bold')
# plt.show()

In [ ]:
# plt.figure(figsize=(8,6))
# sns.distplot(train_df.bedrooms.values, kde=False)
# plt.xlabel('bedroom', fontsize=12, fontweight='bold')
# plt.xticks(fontweight='bold')
# plt.yticks(fontweight='bold')
# plt.show()

In [ ]:
# plt.figure(figsize=(8,6))
# sns.distplot(train_df.listing_id.values, kde=False)
# plt.xlabel('listing_id', fontsize=12, fontweight='bold')
# plt.xticks(fontweight='bold')
# plt.yticks(fontweight='bold')
# plt.show()

In [ ]:
# plt.figure(figsize=(8,6))
# sns.distplot(train_df.latitude.values,kde=False)
# plt.xlabel('latitude', fontsize=12, fontweight='bold')
# plt.xticks(fontweight='bold')
# plt.yticks(fontweight='bold')
# plt.show()

In [ ]:
# plt.figure(figsize=(8,6))
# sns.distplot(train_df.longitude.values, kde=False)
# plt.xlabel('longitude', fontsize=12, fontweight='bold')
# plt.xticks(fontweight='bold')
# plt.yticks(fontweight='bold')
# plt.show()

## Handling missing values

In [13]:
# check if there are any null/nan values
train_df.isnull().sum()

bathrooms          0
bedrooms           0
building_id        0
created            0
description        0
display_address    0
features           0
latitude           0
listing_id         0
longitude          0
manager_id         0
photos             0
price              0
street_address     0
interest_level     0
dtype: int64

### Bedrooms

In [ ]:
# aggregate bedroom values by count
train_df.groupby('bedrooms').count();

In [15]:
# sum count of all bedroom values
train_df.groupby('bedrooms').count().sum()

bathrooms          49352
building_id        49352
created            49352
description        49352
display_address    49352
features           49352
latitude           49352
listing_id         49352
longitude          49352
manager_id         49352
photos             49352
price              49352
street_address     49352
interest_level     49352
dtype: int64

We found 9475 values with a bedroom count of 0. This is simply too high of a number to assume it is an error. Upon checking some photos, we realized that these are probably studio apartments so no bedrooms makes sense. When we aggregated the count of every value of bedrooms, we found there were no missing values.

### Bathrooms

In [ ]:
# aggregate bathroom values by count
train_df.groupby('bathrooms').count();

In [17]:
# sum the count of all bathroom values
train_df.groupby('bathrooms').count().sum()

bedrooms           49352
building_id        49352
created            49352
description        49352
display_address    49352
features           49352
latitude           49352
listing_id         49352
longitude          49352
manager_id         49352
photos             49352
price              49352
street_address     49352
interest_level     49352
dtype: int64

Again, we found no missing values for bathrooms by the same technique as bedrooms. We found 313 places with with 0 bathrooms but this can be normal for places with a shared bathroom on a floor.

### Building ID

In [18]:
whichrow = 0
count = 0
for row in train_df['building_id']:
    if row=='0' or any(c.isalpha() for c in row) == False:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)
#train_df.head(30)

number of missing values:  8286

It's unlikely that building ID has any effect on the interest level of a listing since it is a random number that has no meaningful numerical value other than to identify the listing. We left these values since it is unlikely we will be training with this feature.

### Description

In [19]:
whichrow = 0
count = 0
for row in train_df['description']:
    if  any(c.isalpha() for c in row) == False:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)
#train_df.head(50)

number of missing values:  3336

We left these values because having no description can also affect the interest level of a buyer.

### Features

In [20]:
whichrow = 0
count = 0
for row in train_df['features']:
    if row==[]:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)
#train_df.head(50)

number of missing values:  3218

We left these values because having no features listed can also affect the interest level of a buyer.

### Created

In [21]:
import datetime

whichrow = 0
count = 0
for row in train_df['created']:
    if isinstance(row, datetime.datetime) == False:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  49352

### Display Address

In [22]:
whichrow = 0
count = 0
for row in train_df['display_address']:
    if any(c.isalpha() for c in row) == False:
        train_df.loc[train_df.index[whichrow], 'display_address'] = np.nan
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  141

Since there are relatively few missing values and an address is important to have, we removed these values by changing them to NAN and dropping every row with a NAN.

### Street Address

In [23]:
whichrow = 0
count = 0
for row in train_df['street_address']:
    if any(c.isalpha() for c in row) == False :
        train_df.loc[train_df.index[whichrow], 'street_address'] = np.nan
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  13

Since there are relatively few missing values and an address is important to have, we removed these values by changing them to NAN and dropping every row with a NAN.

### Latitude

In [24]:
whichrow = 0
count = 0
for row in train_df['latitude']:
    if row==0:
        train_df.loc[train_df.index[whichrow], 'latitude'] = np.nan
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  12

Since there are relatively few missing values and an coordinates are important to have, we removed these values by changing them to NAN and dropping every row with a NAN.

### Listing ID

In [25]:
whichrow = 0
count = 0
for row in train_df['listing_id']:
    if row==0 or row==None:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  0

### Longitude

In [26]:
whichrow = 0
count = 0
for row in train_df['longitude']:
    if row==0:
        train_df.loc[train_df.index[whichrow], 'longitude'] = np.nan
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  12

Since there are relatively few missing values and an coordinates are important to have, we removed these values by changing them to NAN and dropping every row with a NAN.

### Manager ID

In [27]:
whichrow = 0
count = 0
for row in train_df['manager_id']:
    if  row==0 or row =='0' or any(c.isalpha() for c in row) == False:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  0

### Photos

In [28]:
whichrow = 0
count = 0
for row in train_df['photos']:
    if  any(isinstance(c,str) for c in row) == False:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  3615

Since we won't be using this feature in later milestones, we left these missing values.

### Price

In [29]:
whichrow = 0
count = 0
for row in train_df['price']:
    if row==0:
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  0

In [ ]:
#double check missing values
train_df.groupby('price').count().sum();

### Interest Level

In [31]:
whichrow = 0
count = 0
list= ["low", "medium", "high"]
for row in train_df['interest_level']:
    if row not in list :
        count+=1
        whichrow+=1
    else:
        whichrow += 1
print ("number of missing values: ", count)

number of missing values:  0

In [ ]:
#remove selected rows with few missing values
train_df = train_df.dropna()

## Handling outliers

### Prices

In [33]:
q25, q75 = np.percentile(train_df['price'].values, 25), np.percentile(train_df['price'].values, 75)
iqr = q75-q25
cutoff = iqr * 3
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['price'].values if x > upper or x < lower]
print ("number of extreme outliers:", len(outliers))
#print(lower,upper)

number of extreme outliers: 1220

In [34]:
q25, q75 = np.percentile(train_df['price'].values, 25), np.percentile(train_df['price'].values, 75)
iqr = q75-q25
cutoff = iqr * 1.5
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['price'].values if x > upper or x < lower]
print ("number of mild outliers:", len(outliers))
#print(lower,upper)

number of mild outliers: 2783

#### Before Handling

In [ ]:
# sns.boxplot(y=train_df['price'])

#### After Handling

In [36]:
from scipy import nanmean
import math

whichrow = 0
for row in train_df['price']:
    if row>upper or row<lower:
        train_df.loc[train_df.index[whichrow], 'price'] = np.nan
        whichrow+=1
    else:
        whichrow += 1
        
mean_val =round(nanmean(train_df['price']),2)

whichrow = 0
for row in train_df['price']:
    if math.isnan(row):
        train_df.loc[train_df.index[whichrow],'price'] = mean_val
        whichrow+=1
    else:
        whichrow+=1

# sns.boxplot(y=train_df['price'], whis = [0,100])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: scipy.nanmean is deprecated and will be removed in SciPy 2.0.0, use numpy.nanmean instead
  if sys.path[0] == '':

We found the Tukey inner and outer fences to find the mild and extreme outliers. Extreme fences included a cutoff that left listings with a negative price range. We decided to only remove the mild outliers instead.  We replaced them with the mean value 3272.00 of so we have more data points to train with. The upper fence cutoff was 6,500 and the lower cutoff was 100. This dealt with outliers such as listings prices at 4,490,000, 43, and negative numbers, which are unrealistic. The new minimum price is 401 and the maximum is now 6,500.

### Latitude

#### Before Handling

In [37]:
q25, q75 = np.percentile(train_df['latitude'].values, 25), np.percentile(train_df['latitude'].values, 75)
iqr = q75-q25
cutoff = iqr * 1.5
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['latitude'].values if x > upper or x < lower]
print ("number of mild outliers:", len(outliers))
#print(lower, upper)

number of mild outliers: 1910

In [38]:
q25, q75 = np.percentile(train_df['latitude'].values, 25), np.percentile(train_df['latitude'].values, 75)
iqr = q75-q25
cutoff = iqr * 3
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['latitude'].values if x > upper or x < lower]
print ("number of extreme outliers:", len(outliers))
#print(lower, upper)

number of extreme outliers: 135

In [ ]:
# sns.boxplot(y=train_df['latitude'])

#### After Handling

In [40]:
whichrow = 0
for row in train_df['latitude']:
    if row>upper or row<lower:
        train_df.loc[train_df.index[whichrow], 'latitude'] = np.nan
        whichrow+=1
    else:
        whichrow += 1
        
mean_val = nanmean(train_df['latitude'])
#print(mean_val)
whichrow = 0
for row in train_df['latitude']:
    if math.isnan(row):
        train_df.loc[train_df.index[whichrow],'latitude'] = mean_val
        whichrow+=1
    else:
        whichrow+=1

# sns.boxplot(y=train_df['latitude'], whis = [0,100])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: DeprecationWarning: scipy.nanmean is deprecated and will be removed in SciPy 2.0.0, use numpy.nanmean instead
  if __name__ == '__main__':

We found the Tukey inner and outer fences to find the mild and extreme outliers. The inner fences still included listings that were within the NYC bounds, accoding to Google Maps. So we decided to only deal with the extreme outliers that were a little further out than NYC vicinity. We replaced with the mean value  of 40.7513098874893 so we have more data points to train with. The fence cutoffs we used were 40.5903 and 40.912299999999995. This dealt with outliers such as listings located in LA because we wanted to keep the listings within NYC. The new maximum and minimum longitude and latitude are now 40.9121 and 40.5904, respectively.

### Longitude

In [41]:
q25, q75 = np.percentile(train_df['longitude'].values, 25), np.percentile(train_df['longitude'].values, 75)
iqr = q75-q25
cutoff = iqr * 3
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['longitude'].values if x > upper or x < lower]
print ("number of extreme outliers:", len(outliers))
#print(lower, upper)

number of extreme outliers: 399

In [42]:
q25, q75 = np.percentile(train_df['longitude'].values, 25), np.percentile(train_df['longitude'].values, 75)
iqr = q75-q25
cutoff = iqr * 1.5
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['longitude'].values if x > upper or x < lower]
print ("number of mild outliers:", len(outliers))
#print(lower, upper)

number of mild outliers: 1087

#### Before Handling

In [ ]:
# sns.boxplot(y=train_df['longitude'])

#### After Handling

In [44]:
whichrow = 0
for row in train_df['longitude']:
    if row>upper or row<lower:
        train_df.loc[train_df.index[whichrow], 'longitude'] = np.nan
        whichrow+=1
    else:
        whichrow += 1
        
mean_val = nanmean(train_df['longitude'])
print(mean_val)

whichrow = 0
for row in train_df['longitude']:
    if math.isnan(row):
        train_df.loc[train_df.index[whichrow],'longitude'] = mean_val
        whichrow+=1
    else:
        whichrow+=1

# sns.boxplot(y=train_df['longitude'] , whis = [0,100])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: DeprecationWarning: scipy.nanmean is deprecated and will be removed in SciPy 2.0.0, use numpy.nanmean instead
  if __name__ == '__main__':

-73.97499519850344

We found the Tukey inner and outer fences to find the mild and extreme outliers. The outer fences still included listings that were within the NYC borough bounds, accoding to Google Maps. The very bottom tip of New York the island is around -74.01 and -73.88 is in the Bronx. So we decided to only deal with the mild outliers that encompassed this. We replaced with the mean value  of 40.7513098874893 so we have more data points to train with. The fence cutoffs we used were -74.04704999999998 and -73.89945000000003. This dealt with outliers such as listings located in LA because we wanted to keep the listings within NYC. The new minimum and maximum longitude and latitude are now -74.0454 and -73.8995, respectively.

### Bedrooms

In [45]:
q25, q75 = np.percentile(train_df['bedrooms'].values, 25), np.percentile(train_df['bedrooms'].values, 75)
iqr = q75-q25
cutoff = iqr * 1.5
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['bedrooms'].values if x > upper or x < lower]
print ("number of mild outliers:", len(outliers))
print(lower, upper)

number of mild outliers: 2220
-0.5 3.5

In [46]:
q25, q75 = np.percentile(train_df['bedrooms'].values, 25), np.percentile(train_df['bedrooms'].values, 75)
iqr = q75-q25
cutoff = iqr * 3
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['bedrooms'].values if x > upper or x < lower]
print ("number of mild outliers:", len(outliers))
print(lower, upper)

number of mild outliers: 49
-2.0 5.0

#### Before Handling

In [ ]:
# sns.boxplot(y=train_df['bedrooms'])

We found the Tukey inner and outer fences to find the mild and extreme outliers. There were 'outliers' but looking at the values, they seem to make sense, given the prices of our listings. It would make sense for a penthouse or large properties to have many bedrooms so a value like 8 isn't an error. We decided to leave this many values unchanged.

### Bathroom

In [48]:
q25, q75 = np.percentile(train_df['bathrooms'].values, 25), np.percentile(train_df['bathrooms'].values, 75)
iqr = q75-q25
cutoff = iqr * 1.5
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['bathrooms'].values if x > upper or x < lower]
print ("number of mild outliers:", len(outliers))
print(lower,upper)

number of mild outliers: 9911
1.0 1.0

In [49]:
q25, q75 = np.percentile(train_df['bathrooms'].values, 25), np.percentile(train_df['bathrooms'].values, 75)
iqr = q75-q25
cutoff = iqr * 3
lower, upper = q25 - cutoff, q75 + cutoff
outliers = [x for x in train_df['bathrooms'].values if x > upper or x < lower]
print ("number of mild outliers:", len(outliers))
print(lower,upper)

number of mild outliers: 9911
1.0 1.0

In [ ]:
# sns.boxplot(y=train_df['bathrooms'])

We found the Tukey inner and outer fences to find the mild and extreme outliers. A quarter of the data seem to be 'outliers' because the distriution is so largge, the upper and lower cutoffs were both 1. It doesn't make sense to remove a quarter of our data. Looking at the values, they seem to make sense, given the prices of our listings. It would make sense for a penthouse or large properties to have many bathrooms. We decided to leave this many values unchanged because this is unlikely due to noise.

<!-- ### Bathroom and Bedrooms

Outlier detection for bathrooms and bedrooms isn't meaningful because all values fall within a tidy distribution. All bathroom values lie between 0-4 and all bedroom values lie between 0-3, which makes sense for studio apartments and shared bathrooms. -->

### Created

Since no missing values were found, it doesn't seem meaningful to detect outliers since the only outlier values would be missing values or dates that don't exist (not one of 365 days in a year).

### Building ID, Manager ID, Listing ID

Again, not meaningful for outliers because there is no real meaning to these values, other than to identify the listing.

### Photos, Description, Features, Addresses

No discernable way to identify outliers until we are able to extract these features. Outliers would probably be photos of objects other than the listing, and text that doesn't relate, or an address outside of New York.

## Text feature extraction

Here we expore the text in two meaningful features of the listings: features and description. We use the TFIDF to tokenize the words found in each feature. Common stop words were excluded and we defined each word 2+ characters because there were some words found such as 'xx' and other random strings. Since the features are actually lists in this column, we concatenated them to string before tokenize. After tokenization, we vectorize each feature into new columns.

In [ ]:
# #description
# vectorizer = TfidfVectorizer(analyzer='word', stop_words='english', token_pattern=r'^[a-zA-Z][a-zA-Z]+')
# vectorizer.fit(train_df['description'].values);
# train_df['desc_vect'] = train_df['description'].apply(lambda x: vectorizer.transform([x]))
# # vectorizer.vocabulary_  #shows all tokens

In [ ]:
# convert features list to string
train_df['features'] = train_df['features'].apply(lambda x: ' '.join(x))

In [ ]:
# # #features
# vectorizer = TfidfVectorizer(analyzer='word', stop_words='english', token_pattern=r'^[a-zA-Z][a-zA-Z]+')
# vectorizer.fit(train_df['features']);
# train_df['feat_vect'] = train_df['features'].apply(lambda x: vectorizer.transform([x]))
# # train_df['feat_vect'] = train_df['feat_vect'].apply(lambda x: x.toarray())
# # train_df['feat_vect'] = train_df['features'].apply(lambda x: vectorizer.transform(x).toarray())
# # # vectorizer.vocabulary_  #shows all tokens

In [ ]:
vectorizer = TfidfVectorizer(analyzer='word', stop_words='english', token_pattern=r'^[a-zA-Z][a-zA-Z]+')
# vectorizer = CountVectorizer(analyzer='word', stop_words='english', token_pattern=r'^[a-zA-Z][a-zA-Z]+')
w = vectorizer.fit_transform(train_df['features']);
# z = w.toarray()
# s = np.array(z)
# train_df['feat_vect'] = train_df.apply(lambda x: tuple(x), axis=1).apply(w)
# train_df.insert('feat_vect', w.toarray())
tempd = pd.DataFrame(w.toarray(), columns=vectorizer.get_feature_names())
train_df.reset_index(inplace=True, drop=True)
train_df = pd.concat([train_df, tempd], axis=1)

## SVM

In [55]:
train_df.head()

   bathrooms  bedrooms                       building_id  ... wonderful wood yard
0        1.0         1  8579a0b0d54db803821a35a4a615e97a  ...       0.0  0.0  0.0
1        1.0         2  b8e75fc949a6cd8225b455648a951712  ...       0.0  0.0  0.0
2        1.0         2  cd759a988b8f23924b5a2058d5ab2b49  ...       0.0  0.0  0.0
3        1.5         3  53a5b119ba8f7b61d4e010512e0dfc85  ...       0.0  0.0  0.0
4        1.0         0  bfb9405149bfff42a92980b594c28234  ...       0.0  0.0  0.0

[5 rows x 94 columns]

In [56]:
train_df['interest_level'] = train_df['interest_level'].astype('category')
train_df['target'] = train_df['interest_level'].cat.codes
train_df.head()

   bathrooms  bedrooms                       building_id  ... wood yard target
0        1.0         1  8579a0b0d54db803821a35a4a615e97a  ...  0.0  0.0      2
1        1.0         2  b8e75fc949a6cd8225b455648a951712  ...  0.0  0.0      1
2        1.0         2  cd759a988b8f23924b5a2058d5ab2b49  ...  0.0  0.0      2
3        1.5         3  53a5b119ba8f7b61d4e010512e0dfc85  ...  0.0  0.0      2
4        1.0         0  bfb9405149bfff42a92980b594c28234  ...  0.0  0.0      1

[5 rows x 95 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import MaxAbsScaler
from sklearn.preprocessing import Normalizer
from sklearn.decomposition import PCA
from sklearn.utils import shuffle

scaling = MinMaxScaler()
scaling2 = MaxAbsScaler()
scaling3 = Normalizer()
pca = PCA(n_components=1)

In [58]:
## Determine which features are more important for weighting 

x = train_df[['price']]
y = train_df['target']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.5, stratify=y) 
x_train = scaling3.fit_transform(x_train)
x_test = scaling3.fit_transform(x_test)
abc = SVC(kernel='linear', decision_function_shape = 'ovo', probability = True, cache_size=1000)
abc.fit(x_train, y_train)
y_pred = abc.predict(x_test)
y_pred2 = abc.predict_proba(x_test)
print('price \n')
print('log_loss: ',log_loss(y_test,y_pred2))

x = train_df[['bedrooms', 'bathrooms']]
y = train_df['target']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.5, stratify=y) 
x_train = scaling2.fit_transform(x_train)
x_test =  scaling2.fit_transform(x_test)
# train.transform(x_train)
# test.transform(x_test)
# x_train = scaling.fit_transform(x_train)
# x_test = scaling.fit_transform(x_test)
abc = SVC(kernel='linear', probability = True, cache_size=1000)
abc.fit(x_train, y_train)
y_pred = abc.predict(x_test)
y_pred2 = abc.predict_proba(x_test)
print('bedrooms, bathrooms \n')
print('log_loss: ',log_loss(y_test,y_pred2))

x = train_df[['latitude', 'longitude']]
y = train_df['target']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.5, stratify=y) 
x_train = scaling2.fit_transform(x_train)
x_test =  scaling2.fit_transform(x_test)
# x_train = scaling.fit_transform(x_train)
# x_test = scaling.fit_transform(x_test)
abc = SVC(kernel='linear', probability = True, cache_size=1000)
abc.fit(x_train, y_train)
y_pred = abc.predict(x_test)
y_pred2 = abc.predict_proba(x_test)
print('latitude, longitude \n')
print('log_loss: ',log_loss(y_test,y_pred2))

feat_d = ['interest_level','building_id','created', 'description','display_address','features', 'listing_id','manager_id','photos', 'street_address', 'target','price','bedrooms','bathrooms','longitude','latitude' ]
x = train_df.drop(feat_d, axis=1)
y = train_df['target']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.5, stratify=y) 
x_train = scaling2.fit_transform(x_train)
x_test =  scaling2.fit_transform(x_test)
x_train = pca.fit_transform(x_train)
x_test = pca.transform(x_test)
abc = SVC(kernel='linear', decision_function_shape = 'ovo', probability = True, cache_size=1000)
abc.fit(x_train, y_train)
y_pred = abc.predict(x_test)
y_pred2 = abc.predict_proba(x_test)
print('PCA_Tfid \n')
print('log_loss: ',log_loss(y_test,y_pred2))

price

log_loss:  0.7883159655023313
bedrooms, bathrooms

log_loss:  0.7883148755949044
latitude, longitude

log_loss:  0.7931460637986134
PCA_Tfid

log_loss:  0.7876111264778621

In [ ]:

# ## reduce majority sample

# train_df.reset_index(drop=True, inplace=True)
# # print(train_df)
# minority1 = train_df[train_df['interest_level'] == 'high']
# minority2 = train_df[train_df['interest_level'] == 'medium']
# majority = train_df[train_df['interest_level'] == 'low']

# print(minority1.shape)
# print(minority2.shape)
# print(majority.shape)

# # remove_n1 = 11490*2
# remove_n1 = 7000
# # remove_n2 = 3690
# remove_n2 = 2000
# drop_indices1 = np.random.choice(majority.index, remove_n1, replace=False)
# drop_indices2 = np.random.choice(minority2.index, remove_n2, replace=False)
# train_df = train_df.drop(drop_indices1)
# train_df = train_df.drop(drop_indices2)
# print(train_df.shape)

In [ ]:


# print(train_df.shape)
# feat = ['price','bedrooms','bathrooms','longitude','latitude', 'feat_vect']
# x = train_df[feat]
# feat1 = ['interest_level','building_id','created', 'description','display_address','features', 'listing_id','manager_id','photos', 'street_address', 'target' ]


feat = ['price','bedrooms','bathrooms','longitude','latitude']
x= train_df[feat]
# x = train_df.drop(feat1,axis=1)
y = train_df['target']

# # feat1 = ['interest_level','building_id','created', 'description','display_address','features', 'listing_id','manager_id','photos', 'street_address', 'target' ]
# # feat = ['price','bedrooms','bathrooms','longitude','latitude']
# # x = train_df.drop(feat1,axis=1)
# y = train_df['target']

# x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, stratify=y) 
# x_train, x_test = x.loc[ctrain_index[0]:ctrain_index[-1]], x.loc[ctest_index[0]:ctest_index[-1]]
# y_train, y_test = y.loc[ctrain_index[0]:ctrain_index[-1]], y.loc[ctest_index[0]:ctest_index[-1]]
# x_train.shape
# print(y_train)
# print(x_train.shape)

In [61]:
# feat2 = ['price','bedrooms','bathrooms','longitude','latitude']
# x_train[feat2]=scaling.fit_transform(x_train[feat2])
# x_test[feat2]=scaling.fit_transform(x_test[feat2])

x = scaling2.fit_transform(x)
# x_train = scaling2.fit_transform(x_train)
# x_test = scaling2.fit_transform(x_test)

# pca = PCA(n_components=6)
# x = pca.fit_transform(x)
# x_train = pca.fit_transform(x_train)
# x_test = pca.transform(x_test)

# quantile_transformer = QuantileTransformer(random_state=0)
# x_train = quantile_transformer.fit_transform(x_train)
# x_test = quantile_transformer.fit_transform(x_test)

# t1 = RobustScaler().fit(x_train)
# t2 = RobustScaler().fit(x_test)
# x_train = t1.transform(x_train)
# x_test = t2.transform(x_test)

# print(x_train.size)
# print(x_train)
svc_class = SVC(kernel='poly', C=0.5, probability = True, cache_size=1000, )

# probability = True
# svc_class.fit(x_train, y_train)
svc_class.fit(x, y)

SVC(C=0.5, break_ties=False, cache_size=1000, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='poly',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [62]:
## Cross Validation

scaling = MinMaxScaler()

# train_df = train_df.sample(frac=1).reset_index(drop=True)
train_df = shuffle(train_df)
train_df.reset_index(inplace=True, drop=True)
# x = train_df.drop(feat1, axis=1)
x = train_df[feat]
y = train_df['target']
# feat = ['price','bedrooms','bathrooms','longitude','latitude']
# x = train_df.loc[:, feat].values
# y = train_df.loc[:, ['target']].values

kf = KFold(n_splits=5)
i=1
# clf = SVC(kernel='linear', probability = True)
bestloss = 100
tsum = 0
for train_index, test_index in kf.split(x):
    # print("TRAIN:", train_index, "TEST:", test_index)
    x_train, x_test = x.loc[train_index[0]:train_index[-1]], x.loc[test_index[0]:test_index[-1]]
    y_train, y_test = y.loc[train_index[0]:train_index[-1]], y.loc[test_index[0]:test_index[-1]]
#     x_train = quantile_transformer.fit_transform(x_train)
#     x_test = quantile_transformer.fit_transform(x_test)
    x_train = scaling2.fit_transform(x_train)
    x_test = scaling2.fit_transform(x_test)
    # pca = PCA(n_components=6)
    # x_train = pca.fit_transform(x_train)
    # x_test = pca.transform(x_test)
    clf = SVC(kernel='poly', C = 0.5, probability = True, cache_size=1000)
    clf.fit(x_train, y_train)
    y_pred = clf.predict(x_test)
    y_pred2 = clf.predict_proba(x_test)
    print('log_loss for ',i, ' : ', log_loss(y_test,y_pred2),'\n')
    # print(confusion_matrix(y_test,y_pred))
    print(classification_report(y_test,y_pred))
    # if log_loss(y_test,y_pred) <= bestloss:
    #   bestloss = log_loss(y_test,y_pred)
    #   ctrain_index = train_index
    #   ctest_index = test_index
    print("SVM Accuracy Score -> ",accuracy_score(y_pred, y_test)*100, 'for ', i, '\n')
    i=i+1
    tsum = tsum + log_loss(y_test,y_pred2)
# print('chosen train: ', ctrain_index, 'chosen test: ', ctest_index,'\n' )   
print('log_loss average evaluation results of 5 classifiers: ', tsum/5 , "\n")

log_loss for  1  :  0.7801512915896422

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       733
           1       0.69      1.00      0.82      6795
           2       0.00      0.00      0.00      2312

    accuracy                           0.69      9840
   macro avg       0.23      0.33      0.27      9840
weighted avg       0.48      0.69      0.56      9840

SVM Accuracy Score ->  69.0548780487805 for  1

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

log_loss for  2  :  0.7747165260179971

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       787
           1       0.70      1.00      0.82      6847
           2       0.00      0.00      0.00      2206

    accuracy                           0.70      9840
   macro avg       0.23      0.33      0.27      9840
weighted avg       0.48      0.70      0.57      9840

SVM Accuracy Score ->  69.58333333333333 for  2

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

log_loss for  3  :  0.769283367952322

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       752
           1       0.70      1.00      0.82      6853
           2       0.00      0.00      0.00      2234

    accuracy                           0.70      9839
   macro avg       0.23      0.33      0.27      9839
weighted avg       0.49      0.70      0.57      9839

SVM Accuracy Score ->  69.6513873361114 for  3

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

log_loss for  4  :  0.7764793713265702

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       779
           1       0.69      1.00      0.82      6827
           2       0.00      0.00      0.00      2233

    accuracy                           0.69      9839
   macro avg       0.23      0.33      0.27      9839
weighted avg       0.48      0.69      0.57      9839

SVM Accuracy Score ->  69.38713283870312 for  4

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

log_loss for  5  :  0.7780162582258787

              precision    recall  f1-score   support

           0       0.00      0.00      0.00       767
           1       0.70      1.00      0.82      6858
           2       0.00      0.00      0.00      2214

    accuracy                           0.70      9839
   macro avg       0.23      0.33      0.27      9839
weighted avg       0.49      0.70      0.57      9839

SVM Accuracy Score ->  69.7022055086899 for  5

log_loss average evaluation results of 5 classifiers:  0.7757293630224821

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

## Test Data

In [63]:
test_df = pd.read_json("test.json")
test_df.head()

   bathrooms  bedrooms  ... price       street_address
0        1.0         1  ...  2950    99 Suffolk Street
1        1.0         2  ...  2850  176 Thompson Street
2        1.0         0  ...  2295  115 Sullivan Street
3        1.0         2  ...  2900      23 Jones Street
5        1.0         1  ...  3254    20 Exchange Place

[5 rows x 14 columns]

In [ ]:
test_df['features'] = test_df['features'].apply(lambda x: ' '.join(x))
# vectorizer = TfidfVectorizer(analyzer='word', stop_words='english', token_pattern=r'^[a-zA-Z][a-zA-Z]+')
# w = vectorizer.fit_transform(test_df['features']);
w = vectorizer.transform(test_df['features'])
tempd = pd.DataFrame(w.toarray(), columns=vectorizer.get_feature_names())
test_df.reset_index(inplace=True, drop=True)
test_df = pd.concat([test_df, tempd], axis=1)
feat2 = ['building_id','created', 'description','display_address','features', 'listing_id','manager_id','photos', 'street_address']

In [65]:
testing = test_df[['price','bedrooms','bathrooms', 'longitude', 'latitude']]
# testing = test_df.drop(feat2, axis=1)
testing.head()

   price  bedrooms  bathrooms  longitude  latitude
0   2950         1        1.0   -73.9865   40.7185
1   2850         2        1.0   -74.0000   40.7278
2   2295         0        1.0   -74.0026   40.7260
3   2900         2        1.0   -74.0028   40.7321
4   3254         1        1.0   -74.0095   40.7054

In [ ]:
testing = scaling2.fit_transform(testing)
# pca = PCA(n_components=6)
# testing = pca.fit_transform(testing)

In [ ]:
prediction = svc_class.predict_proba(testing)

In [ ]:
result = pd.DataFrame({'listing_id': test_df['listing_id'], 'high': prediction[:,0], 'medium': prediction[:,2], 'low': prediction[:,1] })

In [ ]:
result.to_csv('result.csv', index=False)

In [70]:
from joblib import dump, load
dump(svc_class, 'first_model.joblib')
# clf=load('first_model.joblib')

['first_model.joblib']